<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:protocol name="dubbo" port="20885"></dubbo:protocol>
    <dubbo:application name="pinyougou-uesr-service"/>
    <!--<dubbo:registry address="zookeeper://192.168.218.128:2181"/>-->
    <!--zookeeper集群指定注册中心-->
    <dubbo:registry
            protocol="zookeeper" address="192.168.218.129:2181,192.168.218.129:2182,192.168.218.129:2183">
    </dubbo:registry>
    <dubbo:annotation package="com.pinyougou.user.service.impl" />

</beans>